@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Age Calculator</h1>
</div>
<div class="row">
    <div class="col-md-8">
        <h1>Welcome to Age Calculator</h1>
        <br />
        <br />
        <h3>
            Ege University Computer Engineering           
        </h3>      
    </div>
</div>